<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<style>
  .option1 {
    display: inline-block;
    padding-right: 12px;
  }
  tr:hover td {
    background: #85c1e9 !important;
}
td > a {
  display: block;
}
</style>
<div class="border">
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " style="padding-left:200px;padding-right: 800px;color:yellow" href="#" >GPMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li  class="option1" style="float: right;"><a href="#"style="color:white">Hello {{user.username}}</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2 style="color: red">Outpass Requests</h2>         
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="color: brown">Roll Number</th>
        <th style="color: brown">Name</th>
        <th style="color: brown">Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="outpasses">160118733094</a></td>
        <td><a href="outpasses">Durgaprasad</a></td>
        <td><a href="outpasses">2</a></td>
      </tr>
      <tr>
        <td><a href="outpasses">160117733093</a></td>
        <td><a href="outpasses">Nikhil</a></td>
        <td><a href="outpasses">1</a></td>
      </tr>
      <tr>
        <td><a href="outpasses">160118733095</a></td>
        <td><a href="outpasses">Fawaz</a></td>
        <td><a href="outpasses">2</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>

