{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <div class="container">
             <form method="POST" action="{%url 'home1'%}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                          <div class="form-group">
                            <label for="Username">Username:</label>
                            <input type="text" class="form-control" id="Username" placeholder="Enter Username" name="Username">
                          </div>
                          <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                          </div>
                </fieldset>
            
                <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
        </form>
    </div>
            <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot your password?</a>

        </div>
      </div>
    </div>
  </div>
  {% if data %}
  {{data.message}}
  {% endif %}
  <div class="social-menu">
    <br>
    <br>
  <h5>For any queries/issues please contact us at:</h5>
  <ul>
    <li><a href="https://github.com/cbitosc/SkillUp-Team-13"><i class="fa fa-github"></i></a></li>
     <li><a href="https://cosc.cbit.ac.in/"><i class="fa fa-paper-plane"></i></a></li>
      <li><a href="https://google.com"><i class="fa fa-google"></i></a></li>
    <li><a href="https://www.google.com/search?safe=strict&rlz=1C1OKWM_enIN881IN881&sxsrf=ALeKk00SS27YsRj13UNkPuvkmpFEsEySTQ%3A1592562459549&ei=G5PsXteCIdHFz7sP19-v4A8&q=Gmail&oq=Gmail&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIGCAAQBxAeMgYIABAHEB4yBQgAEIMBMgQIABADMgUIABCxAzIFCAAQgwEyCggAELEDEBQQhwIyBQgAEIMBMgUIABCxAzoECAAQRzoECAAQQzoHCAAQsQMQQ1CLJVjbKGCmLGgAcAF4AIABWogBrwGSAQEymAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiX_Lu91Y3qAhXR4nMBHdfvC_wQ4dUDCAw&uact=5"><i class="fa fa-envelope"></i></a></li>
     <li><a href="https://www.google.com/search?q=yahoo+mail&rlz=1C1OKWM_enIN881IN881&oq=yahoo&aqs=chrome.0.35i39j69i57j0l3j69i60l3.2666j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-yahoo"></i></a></li>
  </ul>
</div>  
{% endblock %}