<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
</style>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: yellow;padding-left:190px;padding-right: 800px">GPMS</a>
    </div>
    <!--<ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>-->
</nav>
<div class="container">    
  <div class="row">
    <div class="row-fluid">
      <div class="col-sm-3">
      <div class="span6" style="padding-right:20px; border-right: 3px solid #ccc;height:1000px">
     <u>STUDENT DETAILS</u><br><br>
    <li>Name:</li><br>
    <li>Roll Number:</li><br>
    <li>Year:</li><br>
    <li>Email:</li><br>
    <li>Phone Number:</li><br>
    <li>Number of Outpasses remaining :</li><br>
    <li>Number of Outpasses used:</li><br>
    <li>
   <div class="form-group">
  <label for="usr">Set Number of Outpasses</label>
  <input type="text" class="form-control" id="outpasses">
</div></li>
<button type="button" class="btn">SET</button>
    </div>
  </div>
    <div class="col-sm-6">
    <div class="span6" style="padding-right:20px; border-right: 3px solid #ccc;height:1000px">
      <table class="table table-hover">
    <thead>
      <tr>
        <th>Reason</th>
        <th>Date</th>
        <th>Detached docs</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>health issue</td>
        <td>20-03-2020</td>
        <td><button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-save-file"></span> Save File 
          </button></td>
        </tr>
    </tbody>
  </table>
  <button type="button" class="btn"><a href="login1.html">REJECT</a></button>
  <button type="button" class="btn"><a href="login1.html">ACCEPT</a></button>
  <button type="button" class="btn"><a href="login1.html">COME TO CABIN</a></button>
    </div>
  </div>
      <div class="col-sm-3"> 
      <u style="text-align: center;">OUTPASS TRACKING</u>  
      <style>
    table{text-align: center;}
</style>

<div class="container">
<div class="row">
    <div class="span12">
        <table class="table-condensed table-bordered table-striped">
            <thead>
                <tr>
                  <th colspan="7">
                    <span class="btn-group">
                        <a class="btn"><i class="icon-chevron-left"></i></a>
                        <a class="btn active">june 2020</a>
                        <a class="btn"><i class="icon-chevron-right"></i></a>
                    </span>
                  </th>
                </tr>
                <tr>
                    <th>Su</th>
                    <th>Mo</th>
                    <th>Tu</th>
                    <th>We</th>
                    <th>Th</th>
                    <th>Fr</th>
                    <th>Sa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="muted">29</td>
                    <td class="muted">30</td>
                    <td class="muted">31</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td class="btn-primary"><strong>20</strong></td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td class="muted">1</td>
                    <td class="muted">2</td>
                    <td class="muted">3</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div> 
    </div>
</div>
  </div>

</body>
</html>
