<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GDPR">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %}GPMS{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .asteriskField {
            display: none;
        }

        form .alert ul li {
            list-style: none;
        }

        form .alert ul {
            padding: 0;
            margin: 0;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">GPMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="loggedin">Outpass Requests</a>
                    </li>
                </ul>
              </div>
          </div>
    <!--<ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>-->
</nav>
<br>
<div class="container">    
  <div class="row">
    <div class="row-fluid">
      <div class="col-sm-3">
      <div class="span6" style="padding-right:20px; border-right: 3px solid #ccc;height:1000px">
    {% for j in details %}
     <u>STUDENT DETAILS</u><br><br>
    <li>Roll Number: {{rollno}}</li><br>
    <li>Name: {{j.sname}}</li><br>
    <li>Year: {{j.syear}}</li><br>
    <li>Email: {{j.semail}}</li><br>
    <li>Phone Number: {{j.sphone}} </li><br>
    <li>Parent/Guardian Name: {{j.spgname}}</li><br>
    <li>Phone Number: {{j.spgphone}}</li><br>
    {% endfor %}
    <li>Number of Outpasses remaining :{% for i in values2 %}{{i.passesleft}}{% endfor %}</li><br>
    </div>
  </div>
    <div class="col-sm-6">
    <div class="span6" style="padding-right:20px; border-right: 3px solid #ccc;height:1000px">
      <table class="table table-hover">
    <thead>
      <tr>
        <th>Reason</th>
        <th>Date</th>
        <th>Detached docs</th>

      </tr>
    </thead>
    <tbody>

      {% for i in res %}
      <tr>
        <td>{{i.odesc}}</td>
        <td>{{i.odate}}</td>
        <td><button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-save-file"></span> Save File 
          </button></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <button type="button" class="btn"><a href="home2?ostatus=rejected">REJECT</a></button>
  <button type="button" class="btn"><a href="home2?ostatus=accepted">ACCEPT</a></button>
  <button type="button" class="btn"><a href="home2?ostatus=come to cabin">COME TO CABIN</a></button>
    </div>
  </div>
      <div class="col-sm-3"> 
      <u style="text-align: center;">OUTPASS TRACKING</u><br>
<script>

        // Ignore this in your implementation
        window.isMbscDemo = true;
    </script>

    <!-- Mobiscroll JS and CSS Includes -->
    <link rel="stylesheet" href="/static/css/mobiscroll.javascript.min.css">
    <script src="/static/js/mobiscroll.javascript.min.js"></script>

    <style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }

    body,
    html {
        height: 100%;
    }

    </style>

</head>


<div mbsc-page class="demo-dots-colors-labels">
  <div style="height:100%">
      <div mbsc-form>
        <div class="mbsc-grid">
            <div class="mbsc-row">
                <div class="mbsc-col-sm-12 mbsc-col-md-4">
                    <div class="mbsc-form-group">
                        <div id="demo-colored"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<ul style="display: none;">
    {%for i in abc%}
     <li class="date">{{i.odate}}</li>
    {% endfor %}</ul>
    <ul style="display: none;">
    {%for i in abc%}
     <li class="status">{{i.ostatus}}</li>
    {% endfor %}</ul>


<script>

    mobiscroll.settings = {
        lang: 'en',            // Specify language like: lang: 'pl' or omit setting to use default
        theme: 'ios',          // Specify theme like: theme: 'ios' or omit setting to use default
        themeVariant: 'light'  // More info about themeVariant: https://docs.mobiscroll.com/4-10-4/javascript/calendar#opt-themeVariant
    };
    var globaldata=[]
    var datevalue=document.getElementsByClassName("date")
    var statusid=document.getElementsByClassName("status")
    for(var i=0;i<datevalue.length;i++)
    {
        let color='yellow'
        if(statusid[i].innerText=="pending")
        {
            color="darkblue"
        }
        else if(statusid[i].innerText=="rejected")
        {
            color="red"
        }
        else if(statusid[i].innerText=="accepted")
        {
            color="green"
        }
        else if(statusid[i].innerText=="come to cabin")
        {
          color="orange"
        }
        globaldata.push({d:new Date(datevalue[i].innerText),background:color})
    } 
    var now = new Date();
    
    mobiscroll.form('#md-form');
    
    
    mobiscroll.calendar('#demo-colored', {
        display: 'inline',     // Specify display mode like: display: 'bottom' or omit setting to use default
        colors: [              // More info about colors: https://docs.mobiscroll.com/4-10-4/javascript/calendar#opt-colors
            ...globaldata,

        ]
    });
    
   
</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
