{% extends 'base.html' %}

{% block content %}
<div class="social-menu">
	<h5>For any queries/issues please contact us at:</h5>
	<br>
	<p>Email:cbitosc@gmail.com</p>
  <ul>
    <li><a href="https://github.com/cbitosc/SkillUp-Team-13"><i class="fa fa-github"></i></a></li>
     <li><a href="https://cosc.cbit.ac.in/"><i class="fa fa-paper-plane"></i></a></li>
     <li><a href="https://google.com"><i class="fa fa-google"></i></a></li>
    <li><a href="https://www.google.com/search?safe=strict&rlz=1C1OKWM_enIN881IN881&sxsrf=ALeKk00SS27YsRj13UNkPuvkmpFEsEySTQ%3A1592562459549&ei=G5PsXteCIdHFz7sP19-v4A8&q=Gmail&oq=Gmail&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIGCAAQBxAeMgYIABAHEB4yBQgAEIMBMgQIABADMgUIABCxAzIFCAAQgwEyCggAELEDEBQQhwIyBQgAEIMBMgUIABCxAzoECAAQRzoECAAQQzoHCAAQsQMQQ1CLJVjbKGCmLGgAcAF4AIABWogBrwGSAQEymAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiX_Lu91Y3qAhXR4nMBHdfvC_wQ4dUDCAw&uact=5"><i class="fa fa-envelope"></i></a></li>
     <li><a href="https://www.google.com/search?q=yahoo+mail&rlz=1C1OKWM_enIN881IN881&oq=yahoo&aqs=chrome.0.35i39j69i57j0l3j69i60l3.2666j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-yahoo"></i></a></li>
  </ul>
</div>  
{% endblock %}