  {% extends 'base.html' %}

{% block content %}
  <h2>Homepage</h2>
  <p>Welcome to the GPMS, {% if user.is_authenticated %}{{ user.username }}{% else %}<b>HOD</b>{% endif %}!</p>
<div class="carde">
  <a href="https://www.google.com/search?rlz=1C1OKWM_enIN881IN881&tbm=nws&ei=AsPsXpmjPK3gz7sPgpWIoA8&q=Security&oq=Security&gs_l=psy-ab.3..0l10.1438.5062.0.5393.19.12.0.1.1.0.171.948.5j4.9.0....0...1c.1.64.psy-ab..10.9.858....0.Pxiba7RKxJA">
    <div class="cardheader iconcolor1">
      <img src="http://www.pngmart.com/files/6/Security-Camera-PNG-Background-Image.png" alt="Security">
    </div>
    <div class="cardlinks">
      <h1>Security</h1>
      <ul class="cardlist">
        <li></li>
        <li>CCTV/IP Cameras</li>
        <li>Intrusion Alarms</li>
        <li>Time Synchronization</li>
      </ul>
    </div>
  </a>
</div>

<div class="carde">
  <a href="https://www.google.com/search?q=Unauthorised&rlz=1C1OKWM_enIN881IN881&source=lnms&tbm=nws&sa=X&ved=2ahUKEwiShonsgY7qAhXn7XMBHa7vD9gQ_AUoAXoECA4QAw">
    <div class="cardheader iconcolor2">
      <img src="https://png2.cleanpng.com/sh/4473274f84e3d53af8aea8da6494ff9b/L0KzQYm3U8A6N5prfZH0aYP2gLBuTgNma6Z3geZELXjkc7zskr1paZRwjNtBaYPwPb38jQp0bZQyhNHwbz3kfrF1mf1wfaQyjORqboPzccPsjwQueJ9sRadqYUK1Q4a8hcE0a2E2Rqc7N0S7RIq4UcUzOGY8TaU6N0m1Qoe1kP5o/kisspng-security-hacker-hacktivism-lulzsec-logo-anonymous-transparent-png-5aa22355e13c01.5274849115205753179226.png" alt="Unauthorised" >
    </div>
    <div class="cardlinks">
      <h1>Unauthorised</h1>
      <ul class="cardlist">
        <li>Proactivity</li>
        <li>Integration</li>
        <li>Access Controls</li>
      </ul>
    </div>
  </a>
</div>

<div class="carde">
  <a href="https://www.google.com/search?rlz=1C1OKWM_enIN881IN881&tbm=nws&ei=48HsXrXBBbL7z7sPso6O4AU&q=Gate+pass&oq=Gate+pass&gs_l=psy-ab.3..0l3.35373.38875.0.38990.16.14.0.0.0.0.264.1204.0j5j2.7.0....0...1c.1.64.psy-ab..9.7.1204....0._MmokeVRiJA">
    <div class="cardheader iconcolor1">
      <img src="http://www.pngmart.com/files/4/Gate-PNG-Image.png" alt="Gate">
    </div>
    <div class="cardlinks">
      <h1>Gate Pass</h1>
      <ul class="cardlist">
        <li>Risk Management</li>
        <li>Access Controls</li>
        <li>Incident Management</li>
      </ul>
    </div>
  </a>
</div>

<div class="carde">
  <a href="https://www.google.com/search?hl=en&tbm=nws&ei=qcLsXs-MCZrdz7sPod-M0AM&q=Agreement&oq=Agreement&gs_l=psy-ab.3..0l3.7458.15663.0.16165.7.6.0.1.1.0.159.797.1j5.6.0....0...1c.1.64.psy-ab..0.7.803...0i13k1.0.Fm_HDtWgyPo">
    <div class="cardheader iconcolor2">
      <img src="https://www.pinclipart.com/picdir/big/363-3636715_shaking-hands-transparent-background-handshake-transparent-clipart.png" alt="ShakingHands">
    </div>
    <div class="cardlinks">
      <h1>Agreement</h1>
      <ul class="cardlist">
        <li>Trust</li>
        <li>Safety</li>
        <li>Communication</li>
      </ul>
    </div>
  </a>
</div>

{% endblock %}




























<!-- 
<p>
    <strong>Total users registered: </strong> {{ count }}
</p>
--> 